*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 1280px;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0 auto;
}

header{
display: flex;
width: 1280px;
padding: 30px 27px;
align-items: center;
justify-content: space-between;
background-color: #1A1A1A;
position: fixed;
    top: 0;
    z-index: 999999;

}

ul{
    list-style: none;
    display: flex;
align-items: center;
gap: 35px;
}
a{
    text-decoration: none;
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
transition: all 300ms ease;
}

.selected{

font-weight: 700;
line-height: normal;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: auto;
text-decoration-thickness: auto;
text-underline-offset: 58%; /* 9.28px */
text-underline-position: from-font;
}

.contactbtn{
    display: flex;
width: 138px;
padding: 13px 14px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 37px;
background: #53AABB;
color: #FFF;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
transition: all 300ms ease;
cursor: pointer;
}

.contactbtn:hover{
    scale: 1.1;
    box-shadow: 0 4px 0 0 #FFF;
}

li:hover a{
line-height: normal;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: auto;
text-decoration-thickness: auto;
text-underline-offset: 58%; /* 9.28px */
text-underline-position: from-font;
}

.hero{
    display: flex;
width: 1280px;
padding: 27px 0;
flex-direction: column;
align-items: flex-start;
}

.heroimg{
    display: flex;
flex-direction: column;
align-items: center;
align-self: stretch;
width: 100%;
}

#heroImage{
    object-fit: cover;
width: 100%;
    height: 568px;}

.knowbtn{
    display: flex;
padding: 13px 191px;
justify-content: center;
align-items: center;
gap: 10px;
border: 1px solid #FFF;
color: #FFF;
margin-top: -138px;
    background: black;
font-family: Antonio;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
transition: all 300ms ease;
cursor: pointer;
}

.knowbtn:hover{
    scale: 1.1;
box-shadow: 0 4px 0 0 #FFF;
}
.banner{
    margin-top: -15px;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 61px;
    width: 100%;
}

.sectitle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 31px;
    width: 100%;
    align-self: stretch;
}


.line{
    width: 27%;
height: 1px;
background: #FFF;

}

.sectitle h1{
    color: #FFF;
    text-align: center;
    font-family: "Anton SC";
    font-size: 84.053px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 42%;
}

.aboutcont{
    display: flex;
align-items: center;
}

.abtxt{
    display: flex;
width: 629px;
flex-direction: column;
align-items: flex-start;
gap: 43px;
}

.abtxt p{
    color: #FFF;
font-family: "Roboto Condensed";
font-size: 30px;
font-style: normal;
font-weight: 200;
line-height: normal;
}

.readbtn{
    display: flex;
padding: 13px 69px;
justify-content: center;
align-items: center;
gap: 10px;
border: 1px solid #FFF;
background: #000;
color: #FFF;
font-family: Antonio;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
transition: all 300ms ease;
cursor: pointer;
}

.readbtn:hover{
        scale: 1.1;
    box-shadow: 0 4px 0 0 #FFF;

}

.aboutcont img{
    transition: all 300ms ease;
}

.aboutcont:hover img{
    transform: rotate(-10deg);
}

.seasons{
    display: flex;
    width: 100%;
    padding: 53px 0;
    flex-direction: column;
    align-items: center;
    gap: 101px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 78px;
}

.seasonslist{
    display: flex;
width: 1160px;
align-items: flex-start;
gap: 31.953px;
flex-wrap: wrap;
}

.seasontab{
    display: flex;
    padding: 16.27px 23.08px;
    align-items: center;
    gap: 45.509px;
    border: 0.908px solid #FFF;
    transition: all 300ms ease;
    cursor: pointer;
    width: 266px;
}

.seatxt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.seatxt h4{
    color: #FFF;
font-family: "Roboto Condensed";
font-size: 29.057px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.seatxt span{
    color: #FFF;
font-family: "Roboto Condensed";
font-size: 24.517px;
font-style: normal;
font-weight: 200;
line-height: normal;
}
.seasontab img{
    transition: all 300ms ease;
}
.seasontab:hover img{
 transform: rotate(90deg);
}
.seasontab:hover{
        scale: 1.1;
    box-shadow: 0 4px 0 0 #FFF;

}

.cast{
    width: 100%;
    display: flex;
padding: 97px 0;
flex-direction: column;
align-items: center;
gap: 32px;
}

.castcont{
    display: flex;
width: 1121.684px;
padding: 123px 0;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
background-image: url(img/Frame\ 72.png);
background-position: center;
background-repeat: no-repeat;
height: 1211px;
}

.card{
    display: flex;
transform: rotate(5.671deg);
padding-top: 42.135px;
align-items: center;
cursor: pointer;
gap: 11.388px;
border-radius: 12.527px ;
background: #FFF;
}

.cardcont{
    display: flex;
padding: 22.776px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 11.388px;
border-radius: 12.527px;
border: 9.11px solid #FFF;
background: #B8D4E0;
box-shadow: 0 4.555px 4.555px 0 rgba(0, 0, 0, 0.25);
}

.name{
display: flex;
flex-direction: column;
align-items: center;
gap: 11px;
}

.name h5{
    display: flex;
padding: 11.388px;
justify-content: center;
align-items: center;
gap: 11.388px;
border-bottom: 1.139px solid #000;
color: #000;
font-family: "Roboto Condensed";
font-size: 19.359px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.name h6{
    color: #000;
font-family: "Roboto Condensed";
font-size: 17.082px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.castlist{
    display: flex;
justify-content: center;
align-items: center;
align-content: center;
gap: 63px 82px;
align-self: stretch;
flex-wrap: wrap;
}

footer{
    font-family: Montserrat;
    display: flex;
    width: 1280px;
    padding:64px 51px;
    flex-direction: column;
    align-items: center;
    gap: 89px;
    background:  #1A1A1A;

}
a{
    text-decoration: none;
}
.footcol{
    display: flex;
width: 265px;
flex-direction: column;
align-items: flex-start;
gap: 20px;
}

.footcol h5{
    color: #FFF;

font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 140% */
}

.footcol p , .footcol a{
    color: white;

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.footcontent{
display: flex
;
    align-items: flex-start;
    gap: 14px;
    align-self: stretch;
    justify-content: space-between;
}

.links{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
align-self: stretch;
}

.icontxt{
    display: flex;
align-items: center;
gap: 12px;
}

footer span{
    color: #D1D5DB;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

footer a:hover{
    text-decoration: underline;
}

.gif1{
    position: absolute;
    top: 23%;
    left: -47px;
}

.gif2{
    position: absolute;
    top: 39%;
    right: -47px;
}

.gif3{
        position: absolute;
    top: 63%;
    scale: 2;
}

.gif4{
    position: absolute;
    top: 71%;
    right: 0;
    z-index: -99;
    opacity: 0.3;
    scale: 2;
    transform: rotate(68deg);}

.gif5{
 position: absolute;
    top: 87%;
    left: 0;
    z-index: -99;
    opacity: 0.3;
    scale: 3;
    transform: rotate(-24deg);}


.character{
    display: inline-flex;
    width: 1159px;
    height: 688px;
    padding: 69px 156px 129px 73px;
    flex-direction: column;
    align-items: flex-start;
    gap: 43px;
    background-image: url(img/Group\ 4.png);
    margin-bottom: 70px;
}

.row1{
    display: flex;
    /* width: 63px; */
    align-items: center;
    gap: 383px;
}

.row1 h3{
    color: #868686;
font-family: "Anton SC";
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.row2{
    display: flex;
align-items: center;
gap: 27px;
align-self: stretch;
}

.watch{
    display: flex;
padding: 13px 58px;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
border: 1px solid #FFF;
background: #000;
color: #FFF;
font-family: Antonio;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
transition: all 300ms ease;
cursor: pointer;
}

.watch:hover{
    scale: 1.1;
}

.text{
    display: flex;
align-items: flex-start;
gap: 27px;
align-self: stretch;
position: relative;
flex-direction: column;
width: 592px;

}

.pair{
    display: flex;
align-items: flex-start;
flex-direction: column;
}

.pair h3{
    color: #413838;
font-family: "Anton SC";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.pair h4{
    color: #413838;
font-family: Antonio;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.pair p{
    color: #413838;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.sticky{
    display: flex;
width: 228px;
height: 227.109px;
padding: 30.281px 21.375px;
flex-direction: column;
align-items: flex-start;
gap: 8.906px;
position: absolute;
right: 0;
top: 0;
background-image: url(img/Frame\ 81.png);
}

.sticky h3{
    color: #413838;
font-family: "Anton SC";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.sticky h5{
    color: #413838;
font-family: Montserrat;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 145.549%; /* 18.921px */
}

.gif6{
    position: absolute;
    scale: 1.5;
    z-index: -99;
    right: 0;
    opacity: 0.5;
    transform: rotate(23deg);
}
.gif7{
        scale: 3;
    position: absolute;
    z-index: -9;
    left: -62px;
    top: 42%;
}

.gif8{
    position: absolute;
    scale: 2;
    bottom: 39px;
    right: 81px;
    transform: rotate(82deg);
}

html{
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
  width: 10px;    
  height: 10px;   
}


::-webkit-scrollbar-track {
  background: #1a1a1a;   
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  background: #53AABB;   
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: #53AABB;
}

#merchsec{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    gap: 50px;
}
.merch{
    display: flex;
align-items: center;
gap: 55px;
align-self: stretch;
justify-content: center;
}

.merchsingle{
    display: flex;
width: 332.043px;
overflow: hidden;
flex-direction: column;
align-items: flex-start;
border-radius: 13.462px;
background:  #FFF;
box-shadow: 0 6.731px 8.413px 0 rgba(0, 0, 0, 0.10), 0 16.827px 21.034px 0 rgba(0, 0, 0, 0.10);
}

.mercont{
    display: flex;
padding: 20px;
flex-direction: column;
align-items: flex-start;
gap: 20px;
align-self: stretch;
}
.merchimg{
    width: 100%;
}
.row3{
    display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;
}



.row2{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 7px;
align-self: stretch;
}

.row2 h3{
    color: #374151;
font-family: Montserrat;
font-size: 16.827px;
font-style: normal;
font-weight: 700;
line-height: 23.558px; /* 140% */
}

.row2 p{
    color: #374151;
    font-family: Montserrat;
font-size: 13.462px;
font-style: normal;
font-weight: 400;
line-height: 20.192px; /* 150% */
}

.row3 h4{
color: #53AABB;
font-family: Montserrat;
font-size: 20.192px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.pricecounter{
    display: flex;
align-items: center;
gap: 19px;

}

.pricecounter button{
    display: flex;
width: 38.245px;
height: 38.245px;
padding: 8px;
justify-content: center;
align-items: center;
gap: 12.5px;
aspect-ratio: 38.25/38.25;
border-radius:50px;
background: #374151;
 outline: none;
  border: none;
  cursor: pointer;
}

.pricecounter span{
color:  #374151;
font-family: Montserrat;
font-size: 20.192px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 20px;
text-align: center;
}


.concart{
    display: flex;
align-items: center;
gap: 47px;
}

.cart{
    position: relative;
}

.counter{
    display: flex;
width: 18px;
height: 18px;
padding: 2px 1px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 9px;
color: #FFF;
font-family: Montserrat;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: normal;
background: #53AABB;
position: absolute;
top: 0;
right: 0;
}

.video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    opacity: 0.5;
    left: 0;
    z-index: -99999;
}

.login{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 149px 130px;
}

.logincont{
    display: flex;
    flex-direction: column;
}

